<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }} - {{ shop.name }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  </head>
  <body>
    {% section 'header' %}
    <main role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </body>
</html>
